<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ME7CommunicationTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ME7CommunicationTester.Properties.Settings>
            <setting name="DeviceType" serializeAs="String">
                <value>LAWICEL</value>
            </setting>
            <setting name="HighSpeedCAN" serializeAs="String">
                <value>False</value>
            </setting>
        </ME7CommunicationTester.Properties.Settings>
    </applicationSettings>
</configuration>